body, html {
    height: 100%;
    margin: 0;
}



.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}

.bgimg {
    background-image: url('./img/logo.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {

    display: flex;
    justify-content: flex-start;

}

.social {
    margin-left: auto;
    margin-top: 15px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;

}
.bottomleft{
    font-size: 15px;
}
a{
    color:#ff9c00;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
form{
    margin:0 auto;
    display:table;
    margin-top:50px;
}

input[type="text"]{
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    background:rgba(255,255,255,.1);
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    border:none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height:53px;
    color:#fff;
    font-family:'Oswald', Arial;
    font-size:16px;
    padding-left:20px;
    width:300px;
}

input[type="submit"]{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: 'Oswald', Arial;
    background: #ff9c00;
    color: #000;
    border: none;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 30px;
    position: relative;
    top: 3px;
    left: -10px;
    -webkit-transition: all .3s ease;
    -moz-transition:    all .3s ease;
    -ms-transition:     all .3s ease;
    -o-transition:      all .3s ease;
    transition:         all .3s ease;
}

input[type="submit"]:hover{
    color: #FFF;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  opacity: 0.7;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
  opacity: 0.7;
}


.fa-instagram {
  background: #125688;
  color: white;
  opacity: 0.7;
}

 @media screen and (max-width: 360px) and (min-width: 320px) {
  .social {
    display: inline-flex;
    padding: 5px;
  }
  .middle{
    margin-top: 34px;
    font-size: 15px;
  }

  .bottomleft{
    font-size: 10px;
    text-indent: none;

  }


